*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
     list-style: none;
     text-decoration: none;
     overflow: hidden;
}

.container{
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 119px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 35px;
}

.logo img{
   width: 100px ;
}


.grow-list{
    flex-grow: 1;
    padding-left: 50px;
}

.list{
    display: flex;
    align-items: center;
    gap: 30px;
   
    
}

 ul li a{
    font-family:'Poppins', sans-serif ;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    color: #000;
    cursor: pointer;
}

ul li a:hover{
    color: #5955b3;
}

button{
    background-color: #5955b3;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 12px;
    padding: 7px 20px;
    font-family:'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
}

section{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/* left side */

.left-side{
    margin-left: 100px;
}
.heading_text{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: none;
    font-size: 64px;
    line-height: 74px;
    color: #3c2f60;
}
.heading_text span {
    color: #5955b3;
  }
  
  .description{
    font-family:'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #828282;
    margin-top: 28px;
  }

  