* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  font-family: 'IBM Plex Sans', sans-serif;
}

body {
  max-width: 1440px;
  background-color: #f0f4f5;
  /* overflow: hidden; */
  margin: auto;
}

nav {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}
nav img {
  width: 150px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  margin-right: 50px;
  font-weight: 600;
}

nav ul li:first-child {
  font-weight: 700;
  color: #20bc7e;
}

a {
  color: #000000;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}



main section {
  width: 50%;
}

.leftSection {
  margin-left: 5%;
  position: relative;
}

.topAngle {
  width: 25px;
}

.leftSection h1 {
  font-size: 70px;
}

.leftSection p {
  color: #7c7c7c;
  font-size: 18px;
  margin: 20px 0;
}

.bottomAngle {
  width: 25px;
  position: absolute;
  right: 25px;
}

.stethoscope {
  position: absolute;
  width: 90%;
  top: -60px;
  right: -25px;
  z-index: -1;
}

.mouse {
  position: absolute;
  right: -30px;
  bottom: 0;
  width: 30px;
}

.leftSection button {
  color: #ffffff;
  border: none;
  padding: 15px 40px;
  border-radius: 40px;
  background-color: #20bc7e;
  font-size: 25px;
  font-weight: 700;
}

.green,
.yellow {
  position: absolute;
  right: 0;
 
}

.green {
  width: 35%;
  bottom: 25px;
}

.yellow {
  width: 30%;
  bottom: 50px;
}

.doctor {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 90%;

}

/* about.html */
.main{
  flex-direction: column;
}

.hospitalDescription{
  width: 50%;
  text-align: center;
}

.hospitalDescription h1{
margin-bottom: 20px;
color: #20bc7e;
}


.hospitalDescription p{
  font-size: 18px;
  font-weight: 400;
}

.achievement{
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}

.achievementCard{
  width: 200px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.achievementCard span{
  color: #20BC7E;
  font-weight: 700;
  font-size: 25px;
}

/* contact.html */
form{
  width: 350px;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form h1{
  text-align: center;
}


form div{
  display: flex;
  flex-direction: column;
}


form div label{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

form div input{
  padding: 5px 10px;
  border-radius: 10px;
  border: transparent;
}

form div textarea{
  padding: 8px 10px;
  border-radius: 10px;
  border: transparent;
  resize: none;
}


form button{
  border: transparent;
  border-radius: 10px;
  background-color: #20bc7e;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;

}